.rockThrower {
    /* background-image: url(../images/rockThrower.png);
    background-size: 100%;
    background-repeat: no-repeat; */
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #4d4d4d;
}