body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
h1 {
    text-align: center;
    font-size: 48px;
    color: #FFFFFF; /* Change text color to white */
    margin-bottom: 20px;
    margin-top: -40px; /* Move the text up */
    z-index: 1;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: transparent;
    z-index: 1;
}
.grid-item {
    background-color: #4CAF50;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #66BB6A;
}
.grid-item a {
    color: white;
    text-decoration: none;
}
.grid-item a:hover {
    text-decoration: underline;
}
#grassCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2E7D32; /* Dark green background */
    z-index: 0;
}